body{margin: 0px;padding: 20px;background-color: #eee;font: "微软雅黑" 20px bold;}
.wrapper{position:relative;margin: 0px; padding:20px;height:475px;border: 1px solid #999;}
.left {padding:20px;position: absolute;left:20px;width: 160px;height: 100px;border: solid 1px #999;}
.right{position:absolute;right:20px;width: 120px;height: 400px;border: solid 1px #999;}
.main{padding:20px;margin-left:220px;margin-right:140px;height:360px;border: solid 1px #999;}
.team_logo{width: 80px;height: 80px;}
.left>p{float: right;}
.team_ph{width: 80px;height: 80px;margin:20px 20px 0px 20px; }