*{
	margin: 0; padding:0;
    font-family: "Microsoft Yahei",sans-serif;
}

#TIMEright input{
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
    
}
#TIMEright span{
    color: #e24b4b;
}
.wrapper{
    width: 1281px;
    margin: auto 0;
}
a{
	text-decoration: none;
	color: black;
}

#pink {
    background-color: pink;
    filter: alpha(opacity=20);opacity: 0.2;
    width: 1281px;
    height: 341px;
    position: absolute;
    top:0;
}

#search {
    background-image: url(images/searchbackground.jpg);
    width: 1281px;
    height: 341px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    padding-top: 98px;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

#activity {
    width: 1281px;
    height: 631px;
    text-align: center;
}

#TIME {
    width: 1281px;
    height: 525px;  
    display: flex;
    margin: auto 0;
    align-items: stretch;
}

#shoes {
    background-image: url(images/TIME.jpg);
    width: 852px;
    height: 525px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

#TIMEright {
    position: relative;
    margin: auto 0;
    width: 300px;
    height: 525px;
    top: 25px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
#TIMEright .title {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#shoes .title {
    font-size: 48px;
}

#shoes .subtitle {
    font-size: 128px;
    line-height: 138px;
}

#shoes .description {
    font-size: 24px;
    line-height: 42px;
}
#TIMEright .description {
    font-size: 12px;
    line-height: 36px;
    font-family: "宋体",serif;
    color: #ccc;
}


.button {
    box-sizing: border-box;
    margin-top: 50px;
    font-size: 14px;
    padding: 7px 20px;
    border: 2px solid #e24b4b;
    color: #e24b4b;
}
.pink {
    color: #e24b4b;
}
#TIMEright .choice {
    height: 10px;
    width: 10px;
    border: 1px solid #6c5c5c;
    border-radius: 5px;
    margin: 0 5px;
    float:left;
    top: 80px;
    display: inline;
}

.window {
    display: inline-block;
    width: 20%;
    height: 400px;
    position: relative;
    top: 50px;
    box-sizing: border-box;   
}


#activity img {
    width: 219px;
    height: 337px;
    box-sizing: border-box;
    border: 0.01px solid #dbdada;
}

#activity .desciption {
    height: 80px;
    box-sizing:border-box;
}
.des1{
    font-size: 14px;
    color: #44403F;
    margin-bottom: 11px;
}
.des2{
    font-size: 12px;
    color:#B3AFAC;
}
#shanghai {
    font-size: 24px;
    letter-spacing: 30px;
    text-indent: 35px;
}
.description p:first-child {
    font-size: 22px;
    color: white;
}
.description p:last-child {
    font-size: 13px;
    color: white;
}

#search .description span {
    color: white;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: 10px;
    border-top: 2px solid white;
}
.options {
    height: 36px;
}

/*=========查找框借鉴了排行榜top小组的优秀作品 学到了新知识 非常感谢===========*/
#search input[type="radio"] {
   width: 240px;  
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;/********/
    position: relative;
    top:46px;
    z-index: 10;
    
}

.options .select {
    width: 240px;
    height: 36px;margin: 0 10px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #b3b3b3;
    
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #C6B3AF;
    background: url(images/red.png) no-repeat 210px 8px,#fff;
    background-size: 20px;
}
#search .select:last-of-type{
    visibility: hidden;
}
#search .select span {
    margin-left: 10px;
}

#search .select .option {
    width: 240px;    
    background-color: #e3e3e5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top: 34px;
}
#search input[type="radio"]:nth-of-type(1):checked~.options .select,
#search input[type="radio"]:nth-of-type(2):checked~.options .select{
    top: -1px;
}
#search input[type="radio"]:nth-of-type(1):checked~.options .select-1{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#search input[type="radio"]:nth-of-type(1):checked~.options .select-1 .option{
    display: block;
}
#search input[type="radio"]:nth-of-type(2):checked~.options .select-2{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#search input[type="radio"]:nth-of-type(2):checked~.options .select-2 .option{
    display: block;
}
#search input[type="radio"]:nth-of-type(3):checked~.options .select-3{
    border: 1px solid #C6B3AF;
}

#search .select .option ul{
    margin: 0;
    padding: 0;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #ae7271;
    border-top-width: 0;
}

#search .select .option ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style:none;
    cursor: pointer;
}
#search .select .option ul li:hover{
    background: url(images/ltlred.png) no-repeat 10px 8px,#bf4e48;
    background-size: 20px;
    color: white;
}

#search input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #be4f48;
    color: white;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:36px;
}

/*===========================================================*/

