*{
	margin: 0; padding:0;
}
a{
	text-decoration: none;
	color: black;
}
ul li{
	list-style-type: none;
}
.wrapper{
	width: 1349px;
	margin:0 auto;
}
header{
	position:relative;
	height: 50px;
}
header section{
	position:absolute;
	left: 40px;
	padding:10px; 
}
header section span{
	font-size:  24px;
	font-weight: bold;
}
header nav{
	position: absolute;
	left: 690px;
	top: 15px;
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	display: inline-block;
	text-decoration: none;
	margin-right: 20px;
	padding-bottom: 6px; 
	width: 74px;
	font-size: 16px;
	text-align: center;
	color: gray;
}
header nav ul li a.active{
	color: red;
	border-bottom: 3px red solid;
}
header nav ul li a:hover{
	border-bottom: 3px red solid;
}
.login{
	position: absolute;
	right: 40px;
	height: 50px;
	padding:14px 0 0; 
}
.login a{
	color: red;
}
.begin{
	width: 100%;
	height: 700px;
	background: url(ima/tiyan.jpn.png)no-repeat;
}
#intro{
	width: 100%;
	height: 300px;
}
#intro >div{
	float: left;
	width: 337.25px;
}
#intro div .col{
	padding:50px 168px; 
}
#intro p{
	text-align: center;
	color: gray;
	font-size: 20px;
	border-right: 2px solid gray;
}